<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
  <appSettings>
    <add key="DBPath" value="D:\Data\Phoenix"/>
    <add key="DTExecPath" value="C:\Program Files (x86)\Microsoft SQL Server\110\DTS\Binn\DTExec.exe"/>
    <add key="LookupPath" value="C:\Unisys\UDTS\Lookup_Data"/>
    <add key="SQLUtilityPath" value="C:\Unisys\UDTS\Components\SQLUtility.dll"/>
    <add key="XO2Path" value="C:\Unisys\UDTS\"/>
    <add key="SQLServerInstanceName" value="localhost"/>
    <add key="DatabaseName" value="PX_BLU_0915_DEV_R1"/>
    <add key="PackagePath" value="C:\Unisys\UDTS\Packages\"/>
    <!-- Variable to enable/disable logging  -->
    <add key="EnableLog" value="true"></add>
    <!-- Variable to hold Priority value  -->
    <add key="Priority" value="10"></add>
    <!-- Provide choices of values in comments like ‘SOURCE, TARGET, CONTROL  -->
    <add key="SourceType" value="SOURCE"></add>
    <add key="DefaultControlFileName" value="PXDEV.T01.DV0708.R01.CTL.STA"/>
    <!-- Input Raw files path, Case sensitive-->
    <add key="RawfilePath" value="D:\DATA\PHOENIX\Input\Raw\"></add>

    <!-- Source files path  -->
    <add key="SourceFilePath" value="D:\Data\PHOENIX\Input\Processed\"></add>
  </appSettings>
  <connectionStrings>
    <add name="masterdb" providerName="System.Data.SqlClient" connectionString="Data Source=%SQLServerInstanceName%;Initial Catalog=master;Integrated Security=True;MultipleActiveResultSets=true;"/>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=%SQLServerInstanceName%;Initial Catalog=%DatabaseName%;Integrated Security=SSPI;"/>
    <add name="SSISPacakageRun" connectionString="Data Source=%SQLServerInstanceName%;Initial Catalog=%DatabaseName%;Provider=SQLNCLI11.1;Integrated Security=SSPI"/>
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="UDHMLOG" switchValue="Verbose">
        <listeners>
          <add name="text" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" logFileCreationSchedule="Daily" Location="Custom" CustomLocation="C:\Logs" BaseFileName="UDMH" MaxFileSize="500000000"/>
          <add name="UDMHEventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="UDHM Application">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error, Warning, Information"/>
          </add>
        </listeners>
      </source>
      <!--<source name="System.ServiceModel" switchValue="Off, ActivityTracing">
        <listeners>
          <add initializeData="c:\logs\messages1.svc" type="System.Diagnostics.XmlWriterTraceListener" name="sdt" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add initializeData="c:\logs\messages2.svc" type="System.Diagnostics.XmlWriterTraceListener" name="sdt" />
        </listeners>
      </source>-->
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>
