<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- Variable to hold Connection String   -->
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=PX_BLU_0915_DEV_R1; Integrated Security=SSPI; "/>

    <!-- TSA Application Executable Location   -->
    <add key="TSEXEPath" value="C:\Unisys\UDTS\Components\TransformationServiceApplication.exe"/>

    <!-- STM Application Executable Location  -->
    <add key="STMEXEPath" value="C:\Unisys\UDTS\Components\SourceTransformationManager.exe"/> 

    <!-- Variable to hold time interval for Control file  -->
    <add key="intervalCF" value="30"/>

    <!-- Variable to hold time interval for Transformation Service Application  -->
    <add key="intervalTS" value="30"/>

    <!-- Variable to hold number of target types to be processed for X02 -->
    <add key="X02TargetTypeCount" value="18"/> 

    <!-- Variable to enable/disable logging  -->
    <add key="EnableLog" value="true"></add>

    <!-- Variable to enable/disable logging  -->
    <add key="StopServiceOnNoChunkTostart" value="false"></add>

    <!-- Variable to hold Service name  -->

    <add key="ServiceName" value="UDTSWinService_Instance"/>
    <!-- Variable to hold Service Display name  -->

    <add key="ServiceDisplayName" value="UGSI Data Transformation Solution Service Instance"/>

    <!-- Variable to Refresh all the four configuration value in service task during running, TargetCount,Enable log, Stop services  -->
    <add key="RefreshValueFlag" value="true"/>
    
    <!-- File Watcher Application Executable   -->
    <add key="FileWatcherEXEPath" value="C:\Unisys\UDTS\Components\FileWatcher.exe"/>

    <!-- Variable to enable/disable Filewatcher -->
    <add key="EnableFilewatcher" value="false"/>

  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
